
.dashboard {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: 1.5rem;
  padding: 1rem;
  background-color: beige;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 2fr; 
  gap: 2rem;
  flex: 1; 
  
}

.qol {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  
}


/* Mobile */
@media (max-width: 768px) {
  .gridContainer {
    grid-template-columns: 1fr; 
  }
}